@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

html, body, #main-flex, section {
	height: 100%;
}

#main-flex {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

section.inactive {
	display: none;
}