---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout currentPage="about">
  <section id="about">
    <div class="container">
      <header class="header-no-desc">
        <h2>About</h2>
      </header>

      <img data-src="/images/me.webp" style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 1.5vw; width: 40%; border-radius: 50%;" class="lazyload" />

      <h3 style="margin-bottom: 0.8em;">Hello, I'm Aditya.</h3>

      <p>I'm a <strong>Real-Time Rendering Engineer</strong> at <strong>NVIDIA</strong>. My passion for computer graphics drives me to combine my strong coding background with my interest in creative technology. I've honed my technical skills through an <strong>MSE in Computer Graphics and Game Technology</strong> at the <strong>University of Pennsylvania</strong>, as well as personal projects. Additionally, I enjoy expressing my artistic side through wildlife photography and 3D renders.</p>
    </div>
  </section>
</BaseLayout>
