---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout currentPage="art">
  <!-- landscape = 1920px long side, lossless compression, 100% quality -->
  <section id="art">
    <div class="container">

      <header>
        <h2>Art</h2>
      </header>

      <p>All artworks were made in Blender unless otherwise stated. Most models were downloaded from online; attribution can be found <a href="https://docs.google.com/document/d/15mdXpx4mkEH5s0v_4MQc8M0ew_GXaZvUcSNg2qQa5dM/edit?usp=sharing">here<i class='bx bx-link'></i></a>.</p>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0010.webp" class="lazyload" /></a>
        <header>
          <h3>KAIJU</h3>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0008.webp" class="lazyload" /></a>
        <header>
          <h3>新宝島</h3>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0007.webp" class="lazyload" /></a>
        <header>
          <h3>THE NEW WEST</h3>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0006.webp" class="lazyload" /></a>
        <header>
          <h3>INTERNET SAIKOU</h3>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0004.webp" class="lazyload" /></a>
        <header>
          <h3>曖昧</h3>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/new-0002.webp" class="lazyload" /></a>
        <header>
          <h3>STREETSIDE PROPHET</h3>
        </header>
      </article>

      <h3>Everydays</h3>

      <p>A series of 1271 daily renders, involving a new idea each day. Mostly made in Blender, with some done in Houdini or Maya. A selection of daily renders is shown here. All everydays can be viewed on <a href="https://www.instagram.com/sdojhaus/" target="_blank">Instagram<i class='bx bx-link'></i></a>.</p>

      <div class="row">
        <div class="col-4 col-12-mobile">
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01267.webp" class="lazyload" /></a>
            <header>
              <h3>#1267 - ALCOHOLICS ANONYMOUS, SECOND MEETING</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01150.webp" class="lazyload" /></a>
            <header>
              <h3>#1150 - BAKA MITAI</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01002.webp" class="lazyload" /></a>
            <header>
              <h3>#1002 - FALLEN WARRIOR</h3>
            </header>
          </article>
        </div>
        <div class="col-4 col-12-mobile">
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01225.webp" class="lazyload" /></a>
            <header>
              <h3>#1225 - WHERE DO WE GO?</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01096.webp" class="lazyload" /></a>
            <header>
              <h3>#1096 - GO TO THE FUTURE</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-00925.webp" class="lazyload" /></a>
            <header>
              <h3>#925 - SUNSET SWAMP</h3>
            </header>
          </article>
        </div>
        <div class="col-4 col-12-mobile">
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01180.webp" class="lazyload" /></a>
            <header>
              <h3>#1180 - AXIS OF THE COSMOS</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-01039.webp" class="lazyload" /></a>
            <header>
              <h3>#1039 - 1-UP</h3>
            </header>
          </article>
          <article class="item">
            <a class="image fit"><img data-src="/images/renders/everyday-00918.webp" class="lazyload" /></a>
            <header>
              <h3>#918 - DESERT ARTIFACT</h3>
            </header>
          </article>
        </div>
      </div>

      <h3>Others</h3>

      <p>Various projects exploring different parts of the 3D pipeline or deviating from my normal style.</p>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/big-vegas.webp" class="lazyload" /></a>
        <header>
          <h3><a href="https://cubari.moe/read/imgur/f1a9fGG/1/1/" target="_blank">Big Vegas<i class='bx bx-link'></i></a></h3>
          <p>A short 8-page comic created for COMM 2820 Sick and Satired: The Insanity of Humor and How it Keeps Us Sane.</p>
        </header>
      </article>

      <article class="item">
        <a class="image fit"><img data-src="/images/renders/gun-devil.webp" class="lazyload" /></a>
        <header>
          <h3><a href="https://sketchfab.com/3d-models/gun-devil-from-chainsaw-man-b39925012c17433dbaf30579b141d5e2" target="_blank">Gun Devil<i class='bx bx-link'></i></a></h3>
          <p>3D model of the Gun Devil from the manga series Chainsaw Man.</p>
        </header>
      </article>

    </div>
  </section>
</BaseLayout>
